## Exercicio 1
1. Escreva um código que lê a lista abaixo e faça:

*   A leitura do tamanho da lista
*   A leitura do maior e menor valor
*   A soma dos valores da lista

In [ ]:
lista = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]
#A leitura do tamanho da lista
tamanho = len(lista)

In [ ]:
#A leitura do maior e menor valor
minimo = min(lista)

In [ ]:
#A leitura do maior e menor valor
maximo = max(lista)

In [ ]:
#A soma dos valores da lista
soma = sum(lista)

In [ ]:
#Ao final exiba uma mensagem dizendo:
print(f'Possui {tamanho} números em que o maior numero é {maximo} e o menor numero é {minimo}. A soma dos valores presentes nela é igual a {soma}')

Possui 17 números em que o maior numero é 99 e o menor numero é 11. A soma dos valores presentes nela é igual a 743

## Exercicio 2
2. Escreva uma função que gere a tabuada de um número inteiro de 1 a 10, de acordo com a escolha da pessoa usuária.

In [ ]:
def tabu(x):
  for i in range(0,11):
    print(f'{x} x {i} = {x*i}')
    
tabu(5)

5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# Exercicio 3
3. Crie a função que leia a lista abaixo e retorne uma nova lista com os múltiplos de 3:

In [ ]:
def mult():
  lista = [97, 80, 94, 88, 80, 1, 16, 53, 62, 32, 24,99]
  mult3 = []
  for i in lista:
    if i % 3 == 0:
      mult3.append(i)
    else:
      pass

  return mult3
teste = mult()
print(teste)

[24, 99]

# Exercicio 4
4. Crie uma lista dos quadrados dos números da seguinte lista [1, 2, 3, 4, 5, 6, 7, 8, 9, 10].
Lembre-se de utilizar as funções lambda e map() para calcular o quadrado de cada elemento da lista.

In [ ]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lamb = list(map(lambda x: x**2, lista))
print(lamb)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Exercicio 5
5. Você foi contratado(a) como cientista de dados de uma associação de skate. Para analisar as notas recebidas de skatistas em algumas competições
ao longo do ano, você precisa criar um código que calcula a pontuação dos(as) atletas. Para isso, o seu código deve receber 5 notas digitadas pelas
pessoas juradas.

Para calcular a pontuação de um(a) skatista, você precisa eliminar a maior e a menor pontuação dentre as 5 notas e tirar a média das 3 notas que sobraram.

In [2]:
notas = []
for i in range(1,6):
  nota = float(input(f"Digite a {i}ª nota: "))
  notas.append(nota)

def media(lista):
  lista.remove(max(lista))
  lista.remove(min(lista))
  return sum(lista) / len(lista)

media = media(notas)
print(f"Nota da manobra: {round(media, 1)}")

Digite a 1ª nota: 10
Digite a 2ª nota: 20
Digite a 3ª nota: 1
Digite a 4ª nota: 2
Digite a 5ª nota: 5
Nota da manobra: 5.7

## Exercicio 6
6. Para atender a uma demanda de uma instituição de ensino para a análise do desempenho de seus(suas) estudantes,
você precisa criar uma função que receba uma lista de 4 notas e retorne:

maior nota
menor nota
média
situação (Aprovado(a) ou Reprovado(a))
Para testar o comportamento da função, os dados podem ser exibidos em um texto:

"O(a) estudante obteve uma média de [media], com a sua maior nota de [maior] pontos e a menor nota de [menor] pontos e foi [situacao]"

In [ ]:
lista = []
i = 0
while len(lista) < 4:
  lista.append(float(input(f'Informe a {i+1} nota')))
  i+=1

media = sum(lista) / len(lista)

if media >= 6:
  print(f'O(a) estudante obteve uma média de {sum(lista)/len(lista)}, com sua maior nota de {max(lista)} pontos e a menor nota de {min(lista)}, pontos e foi aprovado')
else:
  print(f'O(a) estudante obteve uma média de {sum(lista)/len(lista)}, com sua maior nota de {max(lista)} pontos e a menor nota de {min(lista)}, pontos e foi reprovado')

Informe a 1 nota10
Informe a 2 nota10
Informe a 3 nota10
Informe a 4 nota10
O(a) estudante obteve uma média de 10.0, com sua maior nota de 10.0 pontos e a menor nota de 10.0, pontos e foi aprovado

## Exercicio 7
7. Você recebeu uma demanda para tratar 2 listas com os nomes e sobrenomes de cada estudante concatenando-as para apresentar seus nomes completos
na forma Nome Sobrenome. As listas são:

nomes = ["joão", "MaRia", "JOSÉ"]
sobrenomes = ["SILVA", "souza", "Tavares"]

In [3]:
nomes = ["joão", "Maria", "José"]
sobrenomes = ["Silva", "Souza", "Tavares"]
resultado = list(map(lambda x, y: x + " " + y, nomes, sobrenomes))

for i in resultado:
  print(f'Nome completo: {i}')

Nome completo: joão Silva
Nome completo: Maria Souza
Nome completo: José Tavares

## Exercicio 8
8. Como cientista de dados em um time de futebol, você precisa implementar novas formas de coleta de dados sobre o desempenho de jogadores e do time
como um todo. Sua primeira ação é criar uma forma de calcular a pontuação do time no campeonato nacional a partir dos dados de gols marcados
e sofridos em cada jogo.

Escreva uma função chamada calcula_pontos que recebe como parâmetros duas listas de números inteiros,
representando os gols marcados e sofridos pelo time em cada partida do campeonato. A função deve retornar a pontuação do time e o aproveitamento em percentual,
levando em consideração que a vitória vale 3 pontos, o empate vale 1 ponto e a derrota 0 pontos.

In [ ]:

gols_marcados = [2, 1, 3, 1, 0]
gols_sofridos = [1, 2, 2, 1, 3]

def calcula_pontos(gols_marcados, gols_sofridos):
  pontos = 0
  for i in range(len(gols_marcados)):
    if gols_marcados[i] > gols_sofridos[i]:
      pontos += 3
    elif gols_marcados[i] == gols_sofridos[i]:
      pontos += 1

  aprov = 100 * pontos / (len(gols_marcados) * 3)
  return (pontos, aprov)


pontos, aprov = calcula_pontos(gols_marcados, gols_sofridos)
print(f"A pontuação do time foi de {pontos} e seu aproveitamento foi de {round(aprov)}%")

A pontuação do time foi de 7 e seu aproveitamento foi de 47%

## Exercicio 9
9. Você recebeu o desafio de criar um código que calcula os gastos de uma viagem para um das quatro cidades partindo de Recife, sendo elas: Salvador, Fortaleza, Natal e Aracaju.

O custo da diária do hotel é de 150 reais em todas elas e o consumo de gasolina na viagem de carro é de 14 km/l, sendo que o valor da gasolina é de 5 reais o litro. O gastos com passeios e alimentação a se fazer em cada uma delas por dia seria de [200, 400, 250, 300], respectivamente.

Sabendo que as distâncias entre Recife e cada uma das cidades é de aproximadamente [850, 800, 300, 550] km, crie três funções nas quais: a 1ª função calcule os gastos com hotel (gasto_hotel), a 2ª calcule os gastos com a gasolina (gasto_gasolina) e a 3ª os gastos com passeio e alimentação (gasto_passeio).

Para testar, simule uma viagem de 3 dias para Salvador partindo de Recife. Considere a viagem de ida e volta de carro.

In [ ]:


cidade = input("Escolha umna cidade: ")
dias = int(input("Informe a quantidade de dias: "))

gastos = [200, 400, 250, 300]
distancias = [850, 800, 300, 550]


def gasto_gasolina():
  if cidade == "salvador":
    return distancias[0] * 5 / 14
  elif cidade == "fortaleza":
    return distancias[1] * 5 / 14
  elif cidade == "Natal":
    return distancias[2] * 5 / 14
  else:
    return distancias[3] * 5 / 14

def gasto_hotel():
  return 150 * dias

def gasto_passeio():
  if cidade == "salvador":
    return gastos[0] * dias
  elif cidade == "fortaleza":
    return gastos[1] * dias
  elif cidade == "Natal":
    return gastos[2] * dias
  else:
    return gastos[3] * dias

teste1 = gasto_passeio()
teste2 = gasto_gasolina()
teste3 = gasto_hotel()

gastos = teste1 + teste2 + teste3

print(f'Com base nos gastos definidos, uma viagem de {dias} dias para {cidade} saindo de Recife custaria {round(gastos, 2)}')

Escolha umna cidade: fortaleza
Informe a quantidade de dias: 2
Com base nos gastos definidos, uma viagem de 2 dias para fortaleza saindo de Recife custaria 1385.71

## Exercicio 10
10. Você iniciou um estágio em uma empresa que trabalha com processamento de linguagem natural (NLP).
Sua líder requisitou que você criasse um trecho de código que recebe uma frase digitada pela pessoa usuária e filtre apenas as palavras com tamanho maior
ou igual a 5, exibindo-as em uma lista. Essa demanda é voltada para a análise do padrão de comportamento de pessoas na escrita de palavras acima
dessa quantidade de caracteres.


Requisitando uma frase e separando-a pelos espaços. Usando replace para trocar
pontuações por espaço.

In [5]:
frase = input("Digite uma frase: ")
frase = frase.replace(',',' ').replace('.',' ').replace('!',' ').replace('?',' ').split()
tamanho = list(filter(lambda x: len(x) >= 5, frase))
print(tamanho)

Digite uma frase: matheus pereira
['matheus', 'pereira']